<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SafeTrack</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="icon-header">
        <a href="/equipments">
          <img src="#" alt="Logo do sistema" />
        </a>
      </div>
      <h1>SafeTrack</h1>
      <div class="insert-button">
        <a href="/equipments/add">Novo equipamento</a>
      </div>
    </header>
    <main class="content">
      {{{body}}}
    </main>
  </body>
</html>